:root{
    --red: #d792ff;
    --green: #6774ff;
  }
  
  body{
    background-image: url("./image.png");;
    background-size: cover;
    margin: 0;

    color: #eee;
  }
  
  main{
    padding-top: 50px;
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
  }
  
  button {
    background-color: transparent;
    color: rgba(255, 255, 255);
    border: 0;
    display: inline-block;
    width: 100px;
    cursor: pointer;
  }
  
  button.with-text{
    width: auto;
    background-color: rgb(182, 100, 179);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.4 rem;
    line-height: 34px;
  
  }
  
  button.with-text svg{
    width: 36px;
    float: left;
    margin-right: 5px;
  
  }
  
  label{
    display:block;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: capitalize;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
   }
   .todo-item p {
    color: #888;
    text-decoration: line-through;
   }